<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="M1_IP" connectionString="Server=IPS-SQL1\ECLIPSE;Database=M1_IP;User Id=sa;Password=3c1tT;ApplicationIntent=ReadOnly;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>